.toggle-box + label:before {
    float:right;
    margin-right:1px;
    margin-left:5px;
    }
 
.council-search {
    float:left;
}


.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: right;
}

.search-box {
    float: left !important;
    margin-right: 10px;
    position: relative;
    width: 200px;
}

.an-agenda-item {
    background: #f9fcff none repeat scroll 0 0;
    border-right: 2px solid #5e8fff !important;
    border-left: none;
    max-width: 800px;
}


.scroll {
    width: 350px;
    left: 20px;
}

/*
.day-list a:first-child {
    margin-left: 0;
    right: -7px;
}
*/

/*
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
}



.banner-info h1, .banner-info h2 {
    color: #fff;
    direction: rtl;
    font-size: 33px;
    margin: 0;
    padding: 0;
}

*/

